.panel-body .col-md-12{
    overflow: hidden;
    margin-bottom: 10px;
}
.col-md-3 label{
    padding-top: 7px;
}
.pd20{
    padding-top: 20px;
}
#programPostedDiv .nav-tabs li,#programAppliedDiv .nav-tabs li{
    width: 25%;
}
#messageRead th:nth-child(2),#messageUnread th:nth-child(2){
	width: 40%;
	text-align: left;
}
#messageRead td:nth-child(2),#messageUnread td:nth-child(2){
	width: 40%;
	text-align: left;
}
#messageUnread table tbody tr td a{
	font-weight: bold;
}
#myModal .modal-body h4{
	word-break:break-all;
	text-indent: 7%;
}